html, body {
   height: 100%;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100% !important;
  border-right: 0;
  width: 200px !important;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 100% !important;
}
